
/****************** DASHBOARD STYLE **************/

.kt-iconbox__icon  i{

  color: #f05f78 !important;
  font-size: 38px !important;
}


.kt-iconbox__content{

  color: #f05f78 !important;
  font-size: 16px !important;
   font-weight: 500 !important;
}

.calbg{

  background-image: url("georgia-de-lotz-1n_HNfGVBxE-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link{

  background-color: #f05f78 !important;

}


.fc-unthemed .fc-toolbar .fc-button.fc-button-active{

  background: #f05f78 !important;
  border: 1px solid #f05f78 !important;
}

.fc-unthemed .fc-toolbar h2{

  font-size: 2.2rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-top: 0.75rem;
  color: #f05f78 !important;
}

#calendar{

  background-color: #eeeff538 !important;
}

.fc-unthemed td{

  border-color: #74788d !important;
}

.fc-unthemed th{

  border-color: #74788d !important;
}

.fc-unthemed th.fc-day-header > span {

  color: #f05f78 !important;
  font-size: large !important;
}

.fc-day-number{

  color: #f05f78 !important;
  font-weight: bold !important;
  font-size: initial !important;

}

@media (max-width: 1024px){
  .kt-header-mobile--fixed .kt-header-mobile{

  height: 90px !important;}

  .kt-subheader--transparent .kt-subheader{

    margin-top: 58px !important;
}

}

.kt-subheader--transparent .kt-subheader{

  margin-top: 40px !important;
}

#kt_aside_brand{
  height: 95px !important;
}

.btn-primary{
  background-color: #f05f78 !important;
  border-color: #f05f78 !important;
  padding: 8px !important;
  border-radius: 4px !important;
}

.dataTables_wrapper .pagination .page-item.active > .page-link{
  background: #f05f78 !important;
}

.kt-scrolltop{
  background: #f05f78 !important;

}
